name: ab_test
description: A Flutter matching app using Jaccard similarity
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.0.0
  cupertino_icons: ^1.0.8
  flutter_hooks: ^0.21.0
  hooks_riverpod: ^2.6.0
  appinio_swiper: ^2.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true